
.abort-button-container__button button {
    padding: 10px;
    background-color: transparent;
    z-index: 1;
    font-size:1rem;
    border:2px solid #000;
    border-radius:5px;
    letter-spacing: 2px;
    scale:1.8;
    cursor: pointer;
    

}

@media(max-width: 765px){
    .abort-button-container__button button{
        scale:1;
    }
}