.new-timer-button-container__button button {
    padding: 10px;
    background-color: transparent;
    z-index: 1;
    font-size: 1rem;
    border: 2px solid #fff;
    border-radius: 5px;
    letter-spacing: 2px;
    color:#FFF;
    scale:1.5;
    cursor: pointer;
}

@media(max-width: 765px){
    .new-timer-button-container__button{
        scale:1;
    }
}